.overlay{
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.4);
    display: flex;
    align-items: center;
    justify-content: center;
}
.fade-in{
    animation: fedeIn 0.3s eaase-in-out;
}
@keyframes fadeIn {
    from{
        opacity: 0;
        transform: scale(0.95);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
}
.login-form{
    background: #6ac1fc;
    width: 320px;
    padding: 25px;
    border-radius: 8px;
    position: relative;
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}
.close-btn{
    position: absolute;
    top: 10px;
    right: 12px;
    border: none;
    background: transparent;
    font-size: 22px;
    cursor: pointer;

}
.close-btn h2{
    text-align: center;
    margin-bottom: 20px;
}
.form-group{
    margin-bottom: 15px;
}
.form-group label{
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
}
.form-group input{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    transition: border 0.3s;

}
.form-group input:focus{
    border-color: #4a90e2;
}
.login-btn{
    width: 100%;
    padding: 10px;
    border: none;
    background: #4a90e2;
    color: white;
    border-radius:5px ;
    cursor: pointer;
    transition: background 0.3s;
}
.login-btn:hover{
    background: #357abd;;
}
