* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}


.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
}

.product {
  background-color: #f2f2f2;
  padding: 30px;
  text-align: center;
  border-radius: 8px;
  font-weight: bold;
}


@media (max-width: 1024px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }
}


@media (max-width: 600px) {
  .container {
    grid-template-columns: 1fr;
  }
}
